In [22]:
import pandas as pd
import duckdb
import os
DATABASE = "server/data/database.db"
# import sys
# print(sys.executable)

In [40]:
con = duckdb.connect(DATABASE)

with duckdb.connect(DATABASE) as con:
    con.sql("""
        CREATE OR REPLACE TABLE auctions AS
        SELECT *
        FROM read_csv_auto('server/data/auctions_cleaned/*');
    """)

    con.sql("""
        ALTER TABLE auctions
        RENAME COLUMN "order" TO pick_num;
    """)

    con.sql("""
        CREATE OR REPLACE TABLE races AS
        SELECT *
        FROM read_csv_auto('server/data/race_results.csv');
    """)

    con.sql("""
        CREATE OR REPLACE TABLE draft_pool AS
        SELECT *
        FROM read_csv_auto('server/data/Pok.csv')
        WHERE stage='base' AND NOT name='Egg';
    """)

In [24]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT *
        FROM auctions
        WHERE pick_num=1
        LIMIT 10
        ;
    """).show()
    
    con.sql("""
        SELECT pokemon, count(pokemon), avg(cost)
        FROM auctions
        GROUP BY pokemon
        HAVING count(pokemon) >=4
        ORDER BY count(pokemon) DESC
        ;
    """).show()

    con.sql("""
        SELECT run_id, run_number, racer_name, result, result_order
        FROM races
        WHERE placement=1
        ;
    """).show()

┌──────────┬────────────┬────────────┬───────┬───────────────┬─────────┐
│ pick_num │  pokemon   │ drafted_by │ cost  │    run_id     │ was_egg │
│  int64   │  varchar   │  varchar   │ int64 │    varchar    │  int64  │
├──────────┼────────────┼────────────┼───────┼───────────────┼─────────┤
│        1 │ Murkrow    │ Paddy      │  1900 │ 2026_01_05_r1 │    NULL │
│        1 │ Goomy      │ Primo      │  2200 │ 2026_01_08_r1 │    NULL │
│        1 │ Pancham    │ Pavan      │  1900 │ 2026_01_11_r1 │    NULL │
│        1 │ Inkay      │ Austin     │  1700 │ 2026_01_19_r1 │    NULL │
│        1 │ Horsea     │ Paddy      │  2600 │ 2026_01_23_r1 │    NULL │
│        1 │ Helioptile │ Austin     │  1700 │ 2026_01_23_r2 │    NULL │
│        1 │ Treecko    │ Jackson    │  2500 │ 2026_01_24_r1 │    NULL │
│        1 │ Onix       │ Paddy      │  2000 │ 2026_01_25_r1 │    NULL │
└──────────┴────────────┴────────────┴───────┴───────────────┴─────────┘

┌───────────┬────────────────┬────────────────────┐
│  pokemon  │ count(pokemon) │    avg("cost")     │
│  varchar  │     int64      │       double       │
├───────────┼────────────────┼────────────────────┤
│ Oddish    │              6 │ 2566.6666666666665 │
│ Teddiursa │              5 │             2740.0 │
│ Espurr    │              5 │             1980.0 │
│ Scyther   │              5 │             2380.0 │
│ Machop    │              5 │             2500.0 │
│ Grubbin   │              4 │             2650.0 │
│ Morelull  │              4 │             1850.0 │
│ Yanma     │              4 │             1900.0 │
│ Meowth    │              4 │             2050.0 │
│ Zubat     │              4 │             2150.0 │
│   ·       │              · │                ·   │
│   ·       │              · │                ·   │
│   ·       │              · │                ·   │
│ Pikipek   │              4 │             1800.0 │
│ Hatenna   │              4 │             2050.0 │
│ Rolycoly  │              4 │             3175.0 │
│ Snover    │              4 │             1850.0 │
│ Nosepass  │              4 │             2300.0 │
│ Sneasel   │              4 │             2200.0 │
│ Pancham   │              4 │             2075.0 │
│ Snubbull  │              4 │             1875.0 │
│ Fidough   │              4 │             2525.0 │
│ Slakoth   │              4 │             2750.0 │
├───────────┴────────────────┴────────────────────┤
│ 27 rows (20 shown)                    3 columns │
└─────────────────────────────────────────────────┘

┌───────────────┬────────────┬────────────┬─────────────┬──────────────┐
│    run_id     │ run_number │ racer_name │   result    │ result_order │
│    varchar    │   int64    │  varchar   │   varchar   │    int64     │
├───────────────┼────────────┼────────────┼─────────────┼──────────────┤
│ 2026_01_25_r1 │          8 │ Pavan      │ Wattson     │            8 │
│ 2026_01_24_r1 │          7 │ Pavan      │ Steven      │           13 │
│ 2026_01_23_r2 │          6 │ Paddy      │ Tate & Liza │            6 │
│ 2026_01_23_r1 │          5 │ Austin     │ Archie      │            8 │
│ 2026_01_19_r1 │          4 │ Jackson    │ Tucker      │           11 │
│ 2026_01_11_r1 │          3 │ Primo      │ Winona      │            6 │
│ 2026_01_08_r1 │          2 │ Jackson    │ Glacia      │           11 │
│ 2026_01_05_r1 │          1 │ Primo      │ Glacia      │           11 │
└───────────────┴────────────┴────────────┴─────────────┴──────────────┘

In [25]:
most_shown = ["Oddish", "Machop", "Teddiursa", "Scyther", "Espurr"]

with duckdb.connect(DATABASE) as con:
    for mon in most_shown:
        con.sql(f"""
        SELECT pokemon, cost, drafted_by, pick_num, placement, num_picks, run_number, auctions.run_id
        FROM auctions
        JOIN races ON auctions.run_id = races.run_id AND auctions.drafted_by = races.racer_name
        WHERE pokemon='{mon}'
        ORDER BY auctions.run_id ASC;
        """).show()

┌─────────┬───────┬────────────┬──────────┬───────────┬───────────┬────────────┬───────────────┐
│ pokemon │ cost  │ drafted_by │ pick_num │ placement │ num_picks │ run_number │    run_id     │
│ varchar │ int64 │  varchar   │  int64   │   int64   │   int64   │   int64    │    varchar    │
├─────────┼───────┼────────────┼──────────┼───────────┼───────────┼────────────┼───────────────┤
│ Oddish  │  1900 │ Austin     │       40 │         4 │        64 │          1 │ 2026_01_05_r1 │
│ Oddish  │  2400 │ Primo      │       43 │         1 │        48 │          3 │ 2026_01_11_r1 │
│ Oddish  │  2200 │ Austin     │       16 │         2 │        32 │          4 │ 2026_01_19_r1 │
│ Oddish  │  3800 │ Austin     │       39 │         4 │        40 │          6 │ 2026_01_23_r2 │
│ Oddish  │  2300 │ Ely        │        5 │         6 │        48 │          7 │ 2026_01_24_r1 │
│ Oddish  │  2800 │ Ely        │       24 │         4 │        64 │          8 │ 2026_01_25_r1 │
└─────────┴───────┴────────────┴──────────┴───────────┴───────────┴────────────┴───────────────┘

┌─────────┬───────┬────────────┬──────────┬───────────┬───────────┬────────────┬───────────────┐
│ pokemon │ cost  │ drafted_by │ pick_num │ placement │ num_picks │ run_number │    run_id     │
│ varchar │ int64 │  varchar   │  int64   │   int64   │   int64   │   int64    │    varchar    │
├─────────┼───────┼────────────┼──────────┼───────────┼───────────┼────────────┼───────────────┤
│ Machop  │  2100 │ Paddy      │       19 │         5 │        64 │          1 │ 2026_01_05_r1 │
│ Machop  │  3300 │ Jackson    │       45 │         5 │        48 │          3 │ 2026_01_11_r1 │
│ Machop  │  2300 │ Austin     │        3 │         1 │        24 │          5 │ 2026_01_23_r1 │
│ Machop  │  2400 │ Austin     │       16 │         5 │        48 │          7 │ 2026_01_24_r1 │
│ Machop  │  2400 │ Ely        │        8 │         4 │        64 │          8 │ 2026_01_25_r1 │
└─────────┴───────┴────────────┴──────────┴───────────┴───────────┴────────────┴───────────────┘

┌───────────┬───────┬────────────┬──────────┬───────────┬───────────┬────────────┬───────────────┐
│  pokemon  │ cost  │ drafted_by │ pick_num │ placement │ num_picks │ run_number │    run_id     │
│  varchar  │ int64 │  varchar   │  int64   │   int64   │   int64   │   int64    │    varchar    │
├───────────┼───────┼────────────┼──────────┼───────────┼───────────┼────────────┼───────────────┤
│ Teddiursa │  2200 │ Primo      │       35 │         1 │        64 │          1 │ 2026_01_05_r1 │
│ Teddiursa │  3400 │ Pavan      │        8 │         3 │        72 │          2 │ 2026_01_08_r1 │
│ Teddiursa │  2500 │ Primo      │       16 │         3 │        40 │          6 │ 2026_01_23_r2 │
│ Teddiursa │  2200 │ Ely        │       11 │         6 │        48 │          7 │ 2026_01_24_r1 │
│ Teddiursa │  3400 │ Primo      │       26 │         6 │        64 │          8 │ 2026_01_25_r1 │
└───────────┴───────┴────────────┴──────────┴───────────┴───────────┴────────────┴───────────────┘

┌─────────┬───────┬────────────┬──────────┬───────────┬───────────┬────────────┬───────────────┐
│ pokemon │ cost  │ drafted_by │ pick_num │ placement │ num_picks │ run_number │    run_id     │
│ varchar │ int64 │  varchar   │  int64   │   int64   │   int64   │   int64    │    varchar    │
├─────────┼───────┼────────────┼──────────┼───────────┼───────────┼────────────┼───────────────┤
│ Scyther │  2800 │ Jackson    │        7 │         3 │        64 │          1 │ 2026_01_05_r1 │
│ Scyther │  2600 │ Austin     │       20 │         6 │        48 │          3 │ 2026_01_11_r1 │
│ Scyther │  2000 │ Pavan      │       28 │         4 │        32 │          4 │ 2026_01_19_r1 │
│ Scyther │  2000 │ Christian  │       36 │         5 │        40 │          6 │ 2026_01_23_r2 │
│ Scyther │  2500 │ Paddy      │       39 │         3 │        64 │          8 │ 2026_01_25_r1 │
└─────────┴───────┴────────────┴──────────┴───────────┴───────────┴────────────┴───────────────┘

┌─────────┬───────┬────────────┬──────────┬───────────┬───────────┬────────────┬───────────────┐
│ pokemon │ cost  │ drafted_by │ pick_num │ placement │ num_picks │ run_number │    run_id     │
│ varchar │ int64 │  varchar   │  int64   │   int64   │   int64   │   int64    │    varchar    │
├─────────┼───────┼────────────┼──────────┼───────────┼───────────┼────────────┼───────────────┤
│ Espurr  │  2600 │ Austin     │       33 │         7 │        72 │          2 │ 2026_01_08_r1 │
│ Espurr  │  1900 │ Austin     │       31 │         6 │        48 │          3 │ 2026_01_11_r1 │
│ Espurr  │  1400 │ Austin     │       27 │         2 │        32 │          4 │ 2026_01_19_r1 │
│ Espurr  │  2000 │ Austin     │        4 │         1 │        24 │          5 │ 2026_01_23_r1 │
│ Espurr  │  2000 │ Christian  │       48 │         2 │        64 │          8 │ 2026_01_25_r1 │
└─────────┴───────┴────────────┴──────────┴───────────┴───────────┴────────────┴───────────────┘

In [26]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT pokemon, cost, drafted_by, pick_num, num_picks, run_number, result, result_order, placement, num_racers,  auctions.run_id, FLOOR((pick_num - 1) / (num_picks / 2)) AS buckets_2,  FLOOR((pick_num - 1) / (num_picks / 4)) AS buckets_4
        FROM auctions
        JOIN races on auctions.run_id = races.run_id and auctions.drafted_by=races.racer_name
        WHERE pokemon='Popplio'
        ORDER BY auctions.run_id ASC
        ;
    """).show()

┌─────────┬───────┬────────────┬──────────┬───────────┬────────────┬─────────┬──────────────┬───────────┬────────────┬───────────────┬───────────┬───────────┐
│ pokemon │ cost  │ drafted_by │ pick_num │ num_picks │ run_number │ result  │ result_order │ placement │ num_racers │    run_id     │ buckets_2 │ buckets_4 │
│ varchar │ int64 │  varchar   │  int64   │   int64   │   int64    │ varchar │    int64     │   int64   │   int64    │    varchar    │  double   │  double   │
├─────────┼───────┼────────────┼──────────┼───────────┼────────────┼─────────┼──────────────┼───────────┼────────────┼───────────────┼───────────┼───────────┤
│ Popplio │  4500 │ Joey       │       15 │        72 │          2 │ Sidney  │            9 │         2 │          9 │ 2026_01_08_r1 │       0.0 │       0.0 │
│ Popplio │  3500 │ Austin     │        3 │        48 │          7 │ Viola   │            5 │         5 │          6 │ 2026_01_24_r1 │       0.0 │       0.0 │
└─────────┴───────┴────────────┴──────────┴───────────┴────────────┴─────────┴──────────────┴───────────┴────────────┴───────────────┴───────────┴───────────┘

In [27]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT result, result_order
        FROM races
        ;
    """).show()

┌────────────────┬──────────────┐
│     result     │ result_order │
│    varchar     │    int64     │
├────────────────┼──────────────┤
│ Wattson        │            8 │
│ Roxanne        │            7 │
│ Juan & Wallace │            4 │
│ Viola          │            4 │
│ Norman         │            4 │
│ Winona         │            3 │
│ Juan & Wallace │            2 │
│ Norman         │            2 │
│ Steven         │           13 │
│ Glacia         │           11 │
│   ·            │            · │
│   ·            │            · │
│   ·            │            · │
│ Flannery       │            4 │
│ Brawly         │            4 │
│ Glacia         │           11 │
│ Norman         │            8 │
│ Tate & Liza    │            7 │
│ Juan & Wallace │            7 │
│ Juan & Wallace │            5 │
│ Tate & Liza    │            5 │
│ Roxanne        │            5 │
│ Winona         │            3 │
├────────────────┴──────────────┤
│ 49 rows (20 shown)  2 columns │
└───────────────────────────────┘

In [28]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT
            result,
            COUNT(*) FILTER (WHERE result_order = 1)  AS "1",
            COUNT(*) FILTER (WHERE result_order = 2)  AS "2",
            COUNT(*) FILTER (WHERE result_order = 3)  AS "3",
            COUNT(*) FILTER (WHERE result_order = 4)  AS "4",
            COUNT(*) FILTER (WHERE result_order = 5)  AS "5",
            COUNT(*) FILTER (WHERE result_order = 6)  AS "6",
            COUNT(*) FILTER (WHERE result_order = 7)  AS "7",
            COUNT(*) FILTER (WHERE result_order = 8)  AS "8",
            COUNT(*) FILTER (WHERE result_order = 9)  AS "9",
            COUNT(*) FILTER (WHERE result_order = 10) AS "10",
            COUNT(*) FILTER (WHERE result_order = 11) AS "11",
            COUNT(*) FILTER (WHERE result_order = 12) AS "12",
            COUNT(*) FILTER (WHERE result_order = 13) AS "13",
        FROM races
        GROUP BY result
        ORDER BY result;
        ;
    """).show()

┌────────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│     result     │   1   │   2   │   3   │   4   │   5   │   6   │   7   │   8   │   9   │  10   │  11   │  12   │  13   │
│    varchar     │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │ int64 │
├────────────────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ Archie         │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │
│ Brawly         │     0 │     0 │     0 │     1 │     1 │     0 │     2 │     0 │     0 │     0 │     0 │     0 │     0 │
│ Flannery       │     0 │     0 │     0 │     1 │     1 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │
│ Glacia         │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     3 │     0 │     0 │
│ Juan & Wallace │     0 │     2 │     0 │     1 │     1 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │     0 │
│ Maxie          │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │
│ Norman         │     0 │     1 │     0 │     2 │     1 │     0 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │
│ Roxanne        │     0 │     0 │     0 │     0 │     2 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │     0 │
│ Sidney         │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │     0 │     0 │     0 │     0 │
│ Spenser        │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │     0 │     0 │     0 │     0 │
│ Steven         │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │
│ Tate & Liza    │     0 │     1 │     0 │     0 │     2 │     3 │     1 │     1 │     0 │     0 │     0 │     0 │     0 │
│ Tucker         │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     1 │     0 │     0 │
│ Viola          │     0 │     0 │     1 │     1 │     2 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │
│ Wattson        │     0 │     0 │     0 │     1 │     0 │     1 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │
│ Winona         │     0 │     0 │     4 │     1 │     0 │     1 │     0 │     0 │     0 │     0 │     0 │     0 │     0 │
├────────────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┤
│ 16 rows                                                                                                     14 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [29]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT pokemon, FLOOR(AVG(cost)) AS avg_cost, count(pokemon) AS times_appeared
        FROM auctions
        GROUP BY pokemon;
        ;
    """).show()

┌────────────┬────────────────────┬────────────────┐
│  pokemon   │ floor(avg("cost")) │ count(pokemon) │
│  varchar   │       double       │     int64      │
├────────────┼────────────────────┼────────────────┤
│ Starly     │             2266.0 │              3 │
│ Noibat     │             2150.0 │              2 │
│ Mudbray    │             3300.0 │              1 │
│ Timburr    │             2150.0 │              2 │
│ Litten     │             2766.0 │              3 │
│ Snubbull   │             1875.0 │              4 │
│ Clobbopus  │             1866.0 │              3 │
│ Sandygast  │             2100.0 │              2 │
│ Joltik     │             2800.0 │              2 │
│ Litleo     │             1900.0 │              1 │
│   ·        │                ·   │              · │
│   ·        │                ·   │              · │
│   ·        │                ·   │              · │
│ Bulbasaur  │             3266.0 │              3 │
│ Turtonator │             2000.0 │              1 │
│ Skrelp     │             2200.0 │              2 │
│ Skorupi    │             1500.0 │              1 │
│ Emolga     │             2300.0 │              2 │
│ Rowlet     │             3600.0 │              1 │
│ Gossifleur │             2766.0 │              3 │
│ Salandit   │             2600.0 │              1 │
│ Absol      │             2100.0 │              1 │
│ Tirtouga   │             2600.0 │              1 │
├────────────┴────────────────────┴────────────────┤
│ 164 rows (20 shown)                    3 columns │
└──────────────────────────────────────────────────┘

In [45]:
with duckdb.connect(DATABASE) as con:
    # con.sql("""
    #     SELECT pokemon, FLOOR(AVG(cost)) AS avg_cost, count(pokemon) AS times_appeared
    #     FROM auctions
    #     RIGHT JOIN draft_pool ON auctions.pokemon = draft_pool.name
    #     GROUP BY pokemon;
    #     ;
    # """).show()

    # con.sql("""
    #     SELECT name
    #     FROM draft_pool
    #     ;
    # """).show(max_rows=206)

    con.sql("""
        SELECT name, COALESCE(FLOOR(AVG(cost)), 0) AS avg_cost, count(name) AS times_appeared
        FROM draft_pool
        LEFT JOIN auctions ON draft_pool.name = auctions.pokemon
        GROUP BY name
        ORDER BY times_appeared ASC;
        ;
    """).show(max_rows=203)

┌─────────────┬──────────┬────────────────┐
│    name     │ avg_cost │ times_appeared │
│   varchar   │  double  │     int64      │
├─────────────┼──────────┼────────────────┤
│ Paras       │      0.0 │              1 │
│ Nincada     │      0.0 │              1 │
│ Frillish    │      0.0 │              1 │
│ Charmander  │      0.0 │              1 │
│ Wynaut      │      0.0 │              1 │
│ Honedge     │      0.0 │              1 │
│ Igglybuff   │      0.0 │              1 │
│ Spritzee    │   1900.0 │              1 │
│ Electrike   │   2600.0 │              1 │
│ Smeargle    │   1100.0 │              1 │
│ Flabebe     │   1900.0 │              1 │
│ Beldum      │   2400.0 │              1 │
│ Varoom      │      0.0 │              1 │
│ Smoochum    │      0.0 │              1 │
│ Poochyena   │      0.0 │              1 │
│ Gothita     │      0.0 │              1 │
│ Archen      │   1900.0 │              1 │
│ Miltank     │      0.0 │              1 │
│ Feebas      │   2500.0 │              1 │
│ Stantler    │      0.0 │              1 │
│ Blipbug     │   2400.0 │              1 │
│ Onix        │   2000.0 │              1 │
│ Corphish    │   2200.0 │              1 │
│ Applin      │   2400.0 │              1 │
│ Lillipup    │   1500.0 │              1 │
│ Ralts       │   4000.0 │              1 │
│ Clauncher   │      0.0 │              1 │
│ Fletchling  │   2000.0 │              1 │
│ Stonjourner │      0.0 │              1 │
│ Clamperl    │   1900.0 │              1 │
│ Croagunk    │      0.0 │              1 │
│ Bonsly      │      0.0 │              1 │
│ Bounsweet   │   6000.0 │              1 │
│ Chingling   │   2800.0 │              1 │
│ Exeggcute   │      0.0 │              1 │
│ Rowlet      │   3600.0 │              1 │
│ Magby       │      0.0 │              1 │
│ Rookidee    │      0.0 │              1 │
│ Tirtouga    │   2600.0 │              1 │
│ Smoliv      │   2400.0 │              1 │
│ Absol       │   2100.0 │              1 │
│ Shinx       │   2800.0 │              1 │
│ Salandit    │   2600.0 │              1 │
│ Magnemite   │      0.0 │              1 │
│ Turtonator  │   2000.0 │              1 │
│ Skorupi     │   1500.0 │              1 │
│ Venipede    │   1900.0 │              1 │
│ Amaura      │   1400.0 │              1 │
│ Ekans       │   2500.0 │              1 │
│ Dewpider    │   2700.0 │              1 │
│ Mantyke     │      0.0 │              1 │
│ Mime Jr     │      0.0 │              1 │
│ Numel       │   2200.0 │              1 │
│ Eevee       │      0.0 │              1 │
│ Elekid      │      0.0 │              1 │
│ Shroodle    │      0.0 │              1 │
│ Mudbray     │   3300.0 │              1 │
│ Meditite    │   2100.0 │              1 │
│ Toxel       │      0.0 │              1 │
│ Munchlax    │      0.0 │              1 │
│ Cetoddle    │      0.0 │              1 │
│ Impidimp    │      0.0 │              1 │
│ Happiny     │      0.0 │              1 │
│ Litleo      │   1900.0 │              1 │
│ Cufant      │      0.0 │              1 │
│ Togepi      │      0.0 │              1 │
│ Swinub      │      0.0 │              1 │
│ Tyrogue     │      0.0 │              1 │
│ Litwick     │   2900.0 │              1 │
│ Klawf       │      0.0 │              1 │
│ Larvitar    │      0.0 │              1 │
│ Bagon       │   2000.0 │              1 │
│ Chinchou    │   1900.0 │              1 │
│ Riolu       │   2000.0 │              1 │
│ Azurill     │      0.0 │              1 │
│ Cleffa      │      0.0 │              1 │
│ Remoraid    │   1300.0 │              1 │
│ Budew       │   3000.0 │              1 │
│ Drifloon    │   2000.0 │              1 │
│ Voltorb     │   2500.0 │              1 │
│ Rockruff    │   1650.0 │              2 │
│ Gastly      │   2500.0 │              2 │
│ Carvanha    │   2200.0 │              2 │
│ Chewtle     │   2550.0 │              2 │
│ Minior      │   2650.0 │              2 │
│ Tyrunt      │   2000.0 │              2 │
│ Pichu       │   2200.0 │              2 │
│ Surskit     │   1600.0 │              2 │
│ Treecko     │   2200.0 │              2 │
│ Poliwag     │   2100.0 │              2 │
│ Roggenrola  │   2250.0 │              2 │
│ Bombirdier  │   3050.0 │              2 │
│ Shuppet     │   1650.0 │              2 │
│ Minccino    │   1700.0 │              2 │
│ Houndour    │   2500.0 │              2 │
│ Cubone      │   2250.0 │              2 │
│ Sandile     │   2950.0 │              2 │
│ Skiddo      │   2550.0 │              2 │
│ Emolga      │   2300.0 │              2 │
│ Froakie     │   3300.0 │              2 │
│ Spheal      │   3050.0 │              2 │
│ Castform    │   3350.0 │              2 │
│ Tynamo      │   3200.0 │              2 │
│ Skrelp      │   2200.0 │              2 │
│ Zigzagoon   │   3050.0 │              2 │
│ Swirlix     │   1700.0 │              2 │
│ Horsea      │   2100.0 │              2 │
│ Pansear     │   2050.0 │              2 │
│ Sewaddle    │   1650.0 │              2 │
│ Snorunt     │   1750.0 │              2 │
│ Staryu      │   2650.0 │              2 │
│ Sableye     │   1900.0 │              2 │
│ Timburr     │   2150.0 │              2 │
│ Joltik      │   2800.0 │              2 │
│ Sandygast   │   2100.0 │              2 │
│ Chespin     │   3400.0 │              2 │
│ Aron        │   2850.0 │              2 │
│ Mawile      │   2400.0 │              2 │
│ Greavard    │   1450.0 │              2 │
│ Noibat      │   2150.0 │              2 │
│ Wishiwashi  │   1950.0 │              2 │
│ Cutiefly    │   1700.0 │              2 │
│ Popplio     │   4000.0 │              2 │
│ Turtwig     │   3400.0 │              2 │
│ Mareep      │   2500.0 │              2 │
│ Solosis     │   2150.0 │              2 │
│ Jangmo-o    │   2350.0 │              2 │
│ Weedle      │   1750.0 │              2 │
│ Goomy       │   2200.0 │              2 │
│ Corsola     │   2400.0 │              2 │
│ Trubbish    │   1450.0 │              2 │
│ Sizzlipede  │   2133.0 │              3 │
│ Totodile    │   3266.0 │              3 │
│ Stufful     │   1366.0 │              3 │
│ Buizel      │   2000.0 │              3 │
│ Fuecoco     │   2833.0 │              3 │
│ Ponyta      │   1966.0 │              3 │
│ Inkay       │   1833.0 │              3 │
│ Helioptile  │   2066.0 │              3 │
│ Yamper      │   1733.0 │              3 │
│ Lotad       │   2000.0 │              3 │
│ Drilbur     │   3133.0 │              3 │
│ Scatterbug  │   2600.0 │              3 │
│ Slowpoke    │   2166.0 │              3 │
│ Growlithe   │   2800.0 │              3 │
│ Porygon     │   2333.0 │              3 │
│ Diglett     │   1800.0 │              3 │
│ Sandshrew   │   2300.0 │              3 │
│ Blitzle     │   2266.0 │              3 │
│ Tentacool   │   2100.0 │              3 │
│ Fennekin    │   3166.0 │              3 │
│ Hawlucha    │   2400.0 │              3 │
│ Squirtle    │   3200.0 │              3 │
│ Gossifleur  │   2766.0 │              3 │
│ Hippopotas  │   2100.0 │              3 │
│ Shroomish   │   2033.0 │              3 │
│ Geodude     │   2133.0 │              3 │
│ Spoink      │   1366.0 │              3 │
│ Bulbasaur   │   3266.0 │              3 │
│ Rotom       │   5400.0 │              3 │
│ Wingull     │   3366.0 │              3 │
│ Tinkatink   │   2066.0 │              3 │
│ Trapinch    │   3266.0 │              3 │
│ Starly      │   2266.0 │              3 │
│ Zorua       │   2333.0 │              3 │
│ Elgyem      │   1633.0 │              3 │
│ Buneary     │   1533.0 │              3 │
│ Makuhita    │   2266.0 │              3 │
│ Falinks     │   2433.0 │              3 │
│ Clobbopus   │   1866.0 │              3 │
│ Litten      │   2766.0 │              3 │
│ Shellder    │   1566.0 │              3 │
│ Phantump    │   3033.0 │              3 │
│ Torchic     │   3666.0 │              3 │
│ Cacnea      │   2566.0 │              3 │
│ Mankey      │   2266.0 │              3 │
│ Snover      │   1850.0 │              4 │
│ Rolycoly    │   3175.0 │              4 │
│ Nosepass    │   2300.0 │              4 │
│ Sneasel     │   2200.0 │              4 │
│ Pancham     │   2075.0 │              4 │
│ Meowth      │   2050.0 │              4 │
│ Zubat       │   2150.0 │              4 │
│ Yanma       │   1900.0 │              4 │
│ Morelull    │   1850.0 │              4 │
│ Grubbin     │   2650.0 │              4 │
│ Fidough     │   2525.0 │              4 │
│ Hatenna     │   2050.0 │              4 │
│ Wooper      │   2500.0 │              4 │
│ Snubbull    │   1875.0 │              4 │
│ Bunnelby    │   1600.0 │              4 │
│ Gible       │   3825.0 │              4 │
│ Wattrel     │   2175.0 │              4 │
│ Pikipek     │   1800.0 │              4 │
│ Mudkip      │   5100.0 │              4 │
│ Murkrow     │   2025.0 │              4 │
│ Vulpix      │   2150.0 │              4 │
│ Slakoth     │   2750.0 │              4 │
│ Machop      │   2500.0 │              5 │
│ Scyther     │   2380.0 │              5 │
│ Teddiursa   │   2740.0 │              5 │
│ Espurr      │   1980.0 │              5 │
│ Oddish      │   2566.0 │              6 │
├─────────────┴──────────┴────────────────┤
│ 203 rows                      3 columns │
└─────────────────────────────────────────┘

In [30]:
# TOTAL_RUNS_QUERY = """
#     SELECT count(DISTINCT(run_id))
#     FROM races;
# """

with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT count(DISTINCT(run_id))
        FROM races;
    """).show()

┌────────────────────────┐
│ count(DISTINCT run_id) │
│         int64          │
├────────────────────────┤
│                      8 │
└────────────────────────┘

In [31]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        SELECT max(cost), pokemon
        FROM auctions
        GROUP BY pokemon
        ORDER by max(cost) DESC
        ;
    """).show()

┌─────────────┬───────────┐
│ max("cost") │  pokemon  │
│    int64    │  varchar  │
├─────────────┼───────────┤
│        6600 │ Rotom     │
│        6000 │ Bounsweet │
│        6000 │ Rolycoly  │
│        6000 │ Mudkip    │
│        5200 │ Slakoth   │
│        5000 │ Torchic   │
│        5000 │ Gible     │
│        4900 │ Phantump  │
│        4900 │ Wingull   │
│        4500 │ Popplio   │
│          ·  │    ·      │
│          ·  │    ·      │
│          ·  │    ·      │
│        1700 │ Shellder  │
│        1700 │ Surskit   │
│        1700 │ Shuppet   │
│        1700 │ Greavard  │
│        1600 │ Trubbish  │
│        1500 │ Skorupi   │
│        1500 │ Lillipup  │
│        1400 │ Amaura    │
│        1300 │ Remoraid  │
│        1100 │ Smeargle  │
├─────────────┴───────────┤
│ 164 rows      2 columns │
│ (20 shown)              │
└─────────────────────────┘